@font-face {
    font-family: "Popnies";
    src: url(fontfamily/Poppins-Regular.ttf);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Popnies;
}
.container{
    display: flex;
    justify-content: center;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    align-items: center;
    padding: 50px 0px;
}
.divimg img{
    align-items: center;
}
.divnav{
    display: flex;
    gap: 40px;
}
.divnav nav{
    display: flex;
    gap: 40px;
    font-size: 18px;
    align-items: center;
    /* font-family: Extralight; */
}
.divnav nav ul{
    list-style: none;
    display: flex;
    font-size: 12px;
   
}
.divnav nav ul li a{
    color: rgb(36, 42, 69);
    text-decoration: none;
    text-transform: uppercase;
}
.btns{
    background-color: red;
    color: white;
    border-radius: 3px;
    outline: none;
    transform: none;
    border: none;
    width: 80px;
    padding: 7px 5px;
    border-radius: 4px;
    font-weight: bold;
    /* border: 2px solid black; */
    cursor: pointer;

}
.herocontainer{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
    gap: 25px;
}
.contentdiv{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 23px;
}
.h1div{
    display: flex;
    flex-direction: column;
    gap: 0px;
}
.h1div h1{
    font-size: 48px;
    /* font-family: Extralight; */
    /* font-weight: lighter; */
}
.pdiv{
    width: 90%;
}
.pdiv p{
    font-size: 18px;
    /* font-family: Extralight; */
    /* font-weight: lighter; */
    color: rgb(145, 148, 162);
}
.btnsdiv{
    width: 80%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.btnsdiv button{
    border-radius: 6px;
    padding: 10px 20px;
    border: none;
    outline: none;
    transform: none;
    width: 220px;
    height: 40px;
    box-shadow: 1px 2px 4px black;
    cursor: pointer;
}
.button1{
    background-color: rgb(82, 103, 223);
    color: white;
}
.button2{
    background-color: rgb(247, 247, 247);
}
.button1:hover{
    background-color: rgb(247, 247, 247); 
    color: black;
}
.button2:hover{
    background-color: rgb(82, 103, 223);
    color: white;
}
/* herosectionend */
/* featuresection */
.imgfeature{
    order: -1;
}
.featuremain{
    background-color: rgb(247, 247, 247);
    padding: 40px 0px;
}
#featuremain{
    text-align: center;
}
#featuremain div p{
    color: rgb(145, 148, 162);
}
#featuremain div h1{
    color: rgb(36, 42, 69);
}
#deaterdivfirst{
    gap: 20px;
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.featurep{
    color: rgb(145, 148, 162);
    text-align: justify;
}
#featurepsecond{
    width: 460px;
}
h1{
    font-weight: lighter;
}
.extensioncontent{
    width: 100%;
    text-align: center;
    padding: 40px 0px;
}
.extensioncontent div h2{
    font-weight: lighter;
}
.extensioncontent div p{
    color: rgb(145, 148, 162);
}
.cardmain{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
    gap: 100px;
    align-items: start;
    height: 54vh;
}
.allcard{
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 23px;
    /* border: 1px solid rgb(229, 231, 235); */
    padding: 30px 30px;
    border-top: none;
    box-shadow: 0px 2px 4px rgb(229, 231, 235);
}
.carddiv{
    justify-content: center;
    text-align: center;
}
.cardcontent p{
    color: rgb(145 148 162);
}
.cardcontent h3{
    font-weight: lighter;
}
#secondcard{
    align-self: center;
}
#thirdcard{
    align-self: flex-end;
}
.allcard div button{
    display: flex;
    justify-content: center;
    width: ;
    background-color: rgb(82, 103, 223);
    color: white;
    border: none;
    outline: none;
    border: transparent;
    padding: 10px 10px;
    border-radius: 6px;
    
}
#allcarddivbtns{
    border-top: 2px solid rgb(229, 231, 235);
    width: 100%;
    padding: 10px;

}
.allcard div button:hover{
    background-color: rgb(247, 247, 247); 
    color: black;
    box-shadow: 0px 2px 4px rgb(229, 231, 235);
}
.faqsectionmain{
    padding: 60px 0px;
    display: flex;
    flex-direction: column;
    background-color: rgb(247 247 247);
    justify-content: center;
}
.faqcontent{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.faqcontent h2{
    font-weight: lighter;
}
.faqcontent div{
    width: 29%;
    align-items: center;
    text-align: center;
}
.faqcontent div p{
    color: rgb(145, 148, 162);
}
.questionsfaq{
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}
.question1{
    display: flex;
    gap: 120px  ;
    padding: 15px 0px;
    border-bottom: 1px solid rgb(229, 231, 235);
}
#faqbtns{
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}
#faqbtns button{
    display: flex;
    justify-content: center;
    width: 110px;
    background-color: rgb(82, 103, 223);
    color: white;
    border: none;
    outline: none;
    border: transparent;
    padding: 10px 10px;
    border-radius: 6px;
    box-shadow: 1px 1px 5px black;
}
#faqbtns button:hover{
    background-color: rgb(247, 247, 247); 
    color: black;
}
.Purpulmain{
    background-color: rgb(82, 103, 223);
    height: 35vh;
    color: white;
    justify-content: center;
    display: flex;
}
.purpuldivcontent{
    display: flex;
    flex-direction: column;
    padding: 50px 0px;
    text-align: center;
    gap: 25px;
}
.purpuldivcontent h2{
    font-weight: lighter;
}
#purpuldivbtns{
    display: flex;
    gap: 17px;
}
#purpuldivbtns input{
    padding: 10px 30px;
    border-radius: 6px;
    width: 70%;
    border: none;
    outline: none;
    border: transparent;
}
#purpuldivbtns button{
    background-color: rgb(250, 89, 89);
    border: none;
    outline: none;
    border: transparent;
    border-radius: 6px;
    color: white;
    padding: 10px 20px;
}