@font-face {
    font-family: "Popnies";
    src: url(fontfamily/Poppins-Regular.ttf);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Popnies;
}
.container{
    display: flex;
    justify-content: center;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    align-items: center;
    padding: 50px 0px;
}
.divimg img{
    align-items: center;
}
.divnav{
    display: flex;
    gap: 40px;
}
.divnav nav{
    display: flex;
    gap: 40px;
    font-size: 18px;
    align-items: center;
    /* font-family: Extralight; */
}
.divnav nav ul{
    list-style: none;
    display: flex;
    font-size: 12px;
   
}
.divnav nav ul li a{
    color: rgb(36, 42, 69);
    text-decoration: none;
    text-transform: uppercase;
}
.btns{
    background-color: red;
    color: white;
    border-radius: 3px;
    outline: none;
    transform: none;
    border: none;
    width: 80px;
    padding: 7px 5px;
    border-radius: 4px;
    font-weight: bold;
    /* border: 2px solid black; */
    cursor: pointer;

}
.herocontainer{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
    gap: 25px;
}
.contentdiv{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 23px;
}
.h1div{
    display: flex;
    flex-direction: column;
    gap: 0px;
}
.h1div h1{
    font-size: 48px;
    /* font-family: Extralight; */
    /* font-weight: lighter; */
}
.pdiv{
    width: 90%;
}
.pdiv p{
    font-size: 18px;
    /* font-family: Extralight; */
    /* font-weight: lighter; */
    color: rgb(145, 148, 162);
}
.btnsdiv{
    width: 80%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.btnsdiv button{
    border-radius: 6px;
    padding: 10px 20px;
    border: none;
    outline: none;
    transform: none;
    width: 220px;
    height: 40px;
    box-shadow: 1px 2px 4px black;
    cursor: pointer;
}
.button1{
    background-color: rgb(82, 103, 223);
    color: white;
}
.button2{
    background-color: rgb(247, 247, 247);
}
.button1:hover{
    background-color: rgb(247, 247, 247); 
    color: black;
}
.button2:hover{
    background-color: rgb(82, 103, 223);
    color: white;
}
/* herosectionend */
/* featuresection */
.imgfeature{
    order: -1;
}
.featuremain{
    background-color: rgb(247, 247, 247);
    padding: 40px 0px;
}
#featuremain{
    text-align: center;
}
#featuremain div p{
    color: rgb(145, 148, 162);
}
#featuremain div h1{
    color: rgb(36, 42, 69);
}
#deaterdivfirst{
    gap: 20px;
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.featurep{
    color: rgb(145, 148, 162);
    text-align: justify;
}
#featurepsecond{
    width: 460px;
}
h1{
    font-weight: lighter;
}